/**
 * Add styling here for the imbedded form
 */

iframe.cko-iframe.cko-embedded {
  position: relative !important;
}

input.cko-disabled {
  background: grey !important;
}

#pay-now-button:disabled {
  background: #aaa;
  text-shadow: 0 1px 1px #888;
  cursor: auto;
}

.hidden {
  display: none;
}

#cko-paymentpopup {
  position: fixed;
  width: 250px;
  margin: 0;
  background: white;
}

#cko-paymentpopup .button-row {
  padding-top: 12px;
  float: right;
}

#cko-paymentpopup>a {
  float: right;
}

#cko-paymentpopup>p {
  float: left;
}

#cko-paymentpopup td {
  padding: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  padding: 0 2px;
  /*margin: 0 10px 0 -5px;*/
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 200%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.cko-warning {
  color: #b11717;
}

.cko-logo {
  height: 1em;
  width: 1.2em;
  display: inline-block;
  background-size: .9em;
  background-image: url("images/checkoutcom_logo.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.ckopp_progressbar {
  width: 100%;
  border: 1px solid #cdd7e7;
  position: relative;
  background:#f8f9fb;
}

.ckopp_progressbar span {
  position: absolute;   
  left: 45%;
  top: 0;
  
  font-family: 'Open Sans', sans-serif;
  color: #313b4b;
}

.ckopp_progressbar div {
  height: 20px;
  background-color: #6a96ff;
  width: 0%;
}

.completed span {
  color: #A5DC86;
}

.completed div {
  background-color: #A5DC86;
}

.cko_float_left {
  float: left;
}

.cko-fieldset-fields {
  width: 45%;
  min-width: 200px;
  max-width: 400px;
  float: left;
  border-bottom: dotted #3075dd .5px;
  margin: 10px; 
}

.cko-fieldset-actions {
  clear: both;
  float: right;
}

.cko-fieldset-fields label {
  float: left;
}

.cko-fieldset-fields field {
  float: right;
  font-size: .85em;
}

.cko-warning {
  height: 1.5em;
  width: 1.5em;
  background-image: url("images/notification-warning.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.cko-error {
  height: 1.5em;
  width: 1.5em;
  background-image: url("images/notification-error.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}


.cko-success {
  height: 1.5em;
  width: 1.5em;
  background-image: url("images/notification-success.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}


.cko-loading {
  float: left;
  height: 2em;
}

.cko-right {
  float: right;
}

.cko-reponse {
  margin: 5px;
}

.cko-search {
  max-width: 150px;
  float: left;
  min-height: 16px;

  margin-right: 5px;
}